<div style="background-color:dodgerblue; height:853px">
    <br />
    <form class="offset-5" asp-action="Index" asp-controller="Profile">
        <div class="form-inline">
            <input name="searchName" placeholder="Enter Summoner Name" class="form-control" />
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>
    </form>
</div>
