<br />
<div class="col-6 offset-4">
    <form asp-action="Index" asp-controller="Profile">
            <div class="form-inline">
                <input name="searchName" placeholder="Enter Summoner Name" class="form-control" />
                <button type="submit" class="btn btn-primary form-control">Search</button>
            </div>
    </form>
</div>
